<div class="page">

  <div class="card">

    <h2>Asignar turno</h2>

    <form [formGroup]="turnoForm" (ngSubmit)="guardarTurno()" class="form-grid">

      <div class="form-group">
        <label>Fecha</label>
        <input type="date" formControlName="fecha" />
      </div>

      <div class="form-group">
        <label>Hora inicio</label>
        <input type="time" formControlName="horaInicio" />
      </div>

      <div class="form-group">
        <label>Hora fin</label>
        <input type="time" formControlName="horaFin" />
      </div>

      <button type="submit" class="btn-guardar">
        Guardar turno
      </button>

      <button type="button" class="btn-volver" (click)="volver()">
        Volver a empleados
      </button>

    </form>

  </div>

</div>
